section {
    margin-top: 130px;
}

/* banner  */
.banner {
    position: relative;
    margin-bottom: 130px;
}

.banner img {
    max-width: 100%;
}

.banner-info {
    position: absolute;
    top: 10%;
    left: 15%;
    right: 10%;
    padding-left: 500px;

}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    text-align: right;
    height: 200px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #444343;
    height: 50px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    color: #FFFFFF;
    height: 64px;
    border: 0;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 15px;
    margin-left: 300px;
}

/* failures container section  */
.container {
    display: flex;
    gap: 80px;
    align-items: center;
    margin: 0 200px;
}

.container img {
    width: 500px;
    height: 500px;
}

.container-title {
    font-weight: 700;
    font-size: 40px;
    width: 250px;
    color: #151414;
}

.container-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;

}

.container-list {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style: none;
}

/* plans section  */
.plans {
    margin: 130px 150px;
    height: 200px;
    text-align: center;
}

.plans-title {
    font-weight: 700;
    font-size: 40px;

}

.plans-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
    padding-left: 50px;
}

.plan img {
    padding: 0px 50px;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* call now  */
.call-container {
    /* width: 1000px; */
    height: 300px;
    margin: 200px 200px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 34, 34, 0.192) 100%), url("../images/watch.png");
    border-radius: 10px;
    background-blend-mode: screen;
    /* background-repeat: no-repeat; */
}

.call-now img {
    width: 100%;
}

.call-info {
    width: 459px;
    height: 182px;
    padding-top: 5px;
    padding-left: 30px;
}

.call-title {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

.btn-call {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    height: 64px;
    color: #F15B22;
    padding: 20px 36px;
    border-radius: 10px;
    border: 0;
}